#iconfont{
    
}
#view_position {
	width:80%;
	height: 100%;
	padding-left:200px;
	padding-top:20px;
}
#view_position_2 {
	padding-left:10px;
	padding-top:20px;
}
/*
* commodity_input.html css
*/

#commodity_input div {
	margin-bottom:20px;
}
.show_all_commodity {
	width:50px;
	float:right;
}
.count_all_commodity {
	font-size: 30px;
	color: red;
}
#type_radio input {
	margin-left:30px; 
}
/*
commodity_modify.html css
*/

/*
* sale_input.html css
*/
.commodity_info {
	margin-bottom: 15px;
	font-size: 15px;
}
.commodity_info span {
	margin-left: 20px;
	font-size: 20px;
	color: red;
}
/*
	commodity_modify.html dialog
*/
.dlg_body {
	margin-left:45px; 
	overflow: visible;
}
.dlg_body div {
	margin-bottom:10px; 
}
.dlg_body span {
	margin-left: 5px;
	font-size: 1.3em;
}
/*
	saleroom_search.html
*/
.showtoday {
	position : relative;
	left:805px; 
	top:-45px;
	width: 200px;
	margin: 0;
	font-size: 15px;
}